{% extends 'main/superbasepersonal.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{#название страницы#}
{#стандартная#}
{% block title %}
{{title}} 
{% endblock %}
{#конец названия страницы#}
{% block leftaside %}
<div class="row">
<div class="col-md-2 mt-2" >
{% endblock %}
{% block content %}
<div class="row">
<div class="col-md-4 mt-2 ml-2" >
{#основная таблица#}

{% for obj in objects %}
<div style="text-align: center;">
<table class="table table-bordered">
    <tbody>
    <tr>
        <td width=50px> 
            <h4>{{ obj.title }}</h4>
            <h6>{{ obj.aim_station }}  -  {{ obj.back_station }}</h6>
            <br>
            <b>дней:</b> {{ obj.how_long }}  &nbsp&nbsp&nbsp&nbsp&nbsp <b>км: </b> {{ obj.kilometers }}
            <br>         

            <b>Отправление&nbspс:</b>&nbsp{{ obj.start_station }}
            <br>
            <br>
            <b>Группа VK:</b> 
                {% if obj.equipmentSM_ver.last.arshin %}
                <a href="{{ obj.vk}}"  target="blank" >
                ссылка
                </a>
                {% else  %}
                отсутствует
                {% endif %}
            <br>

        <a href="{% url 'blogstr' obj.pk %}" target="blank" class="btn btn btn-outline-primary  mt-3" style="width: 180px">читать далее</a>
        </td>
    </tr>
    </tbody>
</table>
 {% endfor %}
{#конец основной таблицы#}

{#пагинация#}
{# стандартная #}
{% if is_paginated %}
    {% if page_obj.has_previous %}
       <a href="?page=1" class="btn btn-outline-primary">Начало</a>
       <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-outline-primary">Предыдущая</a>
  {% endif %}
    {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}" class="btn btn-outline-primary">Следующая</a>
       <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-outline-primary">Последняя</a>
  {% endif %}
  {% endif %}
{#конец пагинации#}
</div>
</div>
</div>


{% endblock %}

