{% extends 'main/base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block title %}
   Загрузка EXEL 
{% endblock %}


{% block content %}
<div class="col-8">
      
  <center><h3>Загрузка списков приборов из файлов EXEL</h3> </center>
   <center>1) Для успешной загрузки приборов используйте только файлы EXEL.xls  (xlsx не поддерживается, но его можно пересохранить в формате .xls: 
      в открытом файле xlsx нажмите в верхнем меню "файл", "сохранить как", "тип файла" - Книга Exel 97-2003 (*.xls), "сохранить" ) 
      2) 
     
 <hr>
      Первый этап: загружаем характеристики СИ/ИО/ВО
      <br>
      {#шаблоны загрузка характеристик СИ/ИО/ИО#}
<div class="container">
    <div class="row">
<div class="col-6"> 
   
      <center>
<a href="{% url 'export_MeasurEquipmentCharakters_pattern_xls'  %}"  class="btn btn-primary  mt-2 mr-2 ml-2">выгрузить шаблон файла .xls "Характеристики СИ"</a>
</div>
       {# кнопки для загрузки  файлов характеристик СИ/ИО/ИО#}
    <div class="col-6">    
         
        <form method="post" action "" enctype=multipart/form-data>
           {% csrf_token %}
          <div class="form-group">
            <input type="file" name="file">
          </div>
            <button type='submit' class btn btn-primary>загрузить файл .xls "Характеристики СИ"</button>
        </form>
      </center>
       </div>
       </div>
   
   </div>
 
</div>
{% endblock %}
