{% extends 'main/base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block title %}
   Загрузка EXEL 
{% endblock %}


{% block content %}
<div class="col-8">
      
   <center><h3>Загрузка списков приборов из файлов EXEL</h3> </center>
   
   <ul>
      <li>Для успешной загрузки приборов используйте только файлы EXEL.xls  (xlsx не поддерживается, но его можно пересохранить в формате .xls: 
      в открытом файле xlsx нажмите в верхнем меню "файл", "сохранить как", "тип файла" - Книга Exel 97-2003 (*.xls), "сохранить" )</li>
      <li>Второй пункт</li>
      <li>Третий пункт</li>
   </ul>

   <hr>

  <center><h5>Шаг первый: загружаем характеристики СИ/ИО/ВО</h5></center>
  <br>

   {# загрузка характеристик СИ/ИО/ИО#}
   <div class="container">
   <div class="row">
      <div class="col-5"> 
         <center><a href="{% url 'export_MeasurEquipmentCharakters_pattern_xls'  %}"  class="btn btn-primary  mt-2 mr-2 ml-2">выгрузить шаблон файла .xls "Характеристики СИ"</a></center>
         <br>
         <br>
         <center><a href="{% url 'export_MeasurEquipmentCharakters_pattern_xls'  %}"  class="btn btn-primary  mt-2 mr-2 ml-2">выгрузить шаблон файла .xls "Характеристики СИ"</a></center>
         <br>
         <br>
        <center> <a href="{% url 'export_MeasurEquipmentCharakters_pattern_xls'  %}"  class="btn btn-primary  mt-2 mr-2 ml-2">выгрузить шаблон файла .xls "Характеристики СИ"</a></center>
      </div>

      <div class="col-5">
         <center>                    
         <form method="post" action "" enctype=multipart/form-data>
            {% csrf_token %}
            <div class="form-group">
               <input type="file" name="file">
            </div>
            <button type='submit' class="btn  btn-primary">загрузить файл .xls "Характеристики СИ"</button>
         </form>
         </center>
         <hr>
         
         <center>                    
         <form method="post" action "" enctype=multipart/form-data>
            {% csrf_token %}
            <div class="form-group">
               <input type="file" name="file">
            </div>
            <button type='submit' class="btn  btn-primary">загрузить файл .xls "Характеристики СИ"</button>
         </form>
         </center>
         <hr>

         <center>                    
         <form method="post" action "" enctype=multipart/form-data>
            {% csrf_token %}
            <div class="form-group">
               <input type="file" name="file">
            </div>
            <button type='submit' class="btn  btn-primary">загрузить файл .xls "Характеристики СИ"</button>
         </form>
         </center>
         
      </div>
   </div>
   </div>
   
   <hr>

  <center><h5>Шаг второй: загружаем единицы ЛО</h5></center>
  <br>

   {# загрузка единиц ЛО #}
   <div class="container">
   <div class="row">
      <div class="col-5"> 
         <center><a href="{% url 'export_MeasurEquipmentCharakters_pattern_xls'  %}"  class="btn btn-primary  mt-2 mr-2 ml-2">выгрузить шаблон файла .xls "Характеристики СИ"</a></center>
      </div>

      <div class="col-5">
         <center>                    
         <form method="post" action "" enctype=multipart/form-data>
            {% csrf_token %}
            <div class="form-group">
               <input type="file" name="file">
            </div>
            <button type='submit' class="btn  btn-primary">загрузить файл .xls "Характеристики СИ"</button>
         </form>
         </center>
         <hr>
                  
      </div>
   </div>
   </div>
   
   <hr>

  <center><h5>Шаг третий: загружаем единицы СИ/ИО/ВО</h5></center>
  <br>

   {# загрузка единиц СИ/ИО/ИО #}
   <div class="container">
   <div class="row">
      <div class="col-5"> 
         <center><a href="{% url 'export_MeasurEquipmentCharakters_pattern_xls'  %}"  class="btn btn-primary  mt-2 mr-2 ml-2">выгрузить шаблон файла .xls "Характеристики СИ"</a></center>
         <br>
         <br>
         <center><a href="{% url 'export_MeasurEquipmentCharakters_pattern_xls'  %}"  class="btn btn-primary  mt-2 mr-2 ml-2">выгрузить шаблон файла .xls "Характеристики СИ"</a></center>
         <br>
         <br>
        <center> <a href="{% url 'export_MeasurEquipmentCharakters_pattern_xls'  %}"  class="btn btn-primary  mt-2 mr-2 ml-2">выгрузить шаблон файла .xls "Характеристики СИ"</a></center>
      </div>

      <div class="col-5">
         <center>                    
         <form method="post" action "" enctype=multipart/form-data>
            {% csrf_token %}
            <div class="form-group">
               <input type="file" name="file">
            </div>
            <button type='submit' class="btn  btn-primary">загрузить файл .xls "Характеристики СИ"</button>
         </form>
         </center>
         <hr>
         
         <center>                    
         <form method="post" action "" enctype=multipart/form-data>
            {% csrf_token %}
            <div class="form-group">
               <input type="file" name="file">
            </div>
            <button type='submit' class="btn  btn-primary">загрузить файл .xls "Характеристики СИ"</button>
         </form>
         </center>
         <hr>

         <center>                    
         <form method="post" action "" enctype=multipart/form-data>
            {% csrf_token %}
            <div class="form-group">
               <input type="file" name="file">
            </div>
            <button type='submit' class="btn  btn-primary">загрузить файл .xls "Характеристики СИ"</button>
         </form>
         </center>
         
      </div>
   </div>
   </div>
   
   <hr>


  <center><h5>Шаг четвертый: загружаем поверку и аттестацию</h5></center>
  <br>

   {# загрузка поверки и аттестации #}
   <div class="container">
   <div class="row">
      <div class="col-5"> 
         <center><a href="{% url 'export_MeasurEquipmentCharakters_pattern_xls'  %}"  class="btn btn-primary  mt-2 mr-2 ml-2">выгрузить шаблон файла .xls "Характеристики СИ"</a></center>
         <br>
         <br>
         <center><a href="{% url 'export_MeasurEquipmentCharakters_pattern_xls'  %}"  class="btn btn-primary  mt-2 mr-2 ml-2">выгрузить шаблон файла .xls "Характеристики СИ"</a></center>
      </div>

      <div class="col-5">
         <center>                    
         <form method="post" action "" enctype=multipart/form-data>
            {% csrf_token %}
            <div class="form-group">
               <input type="file" name="file">
            </div>
            <button type='submit' class="btn  btn-primary">загрузить файл .xls "Характеристики СИ"</button>
         </form>
         </center>
         <hr>
         
         <center>                    
         <form method="post" action "" enctype=multipart/form-data>
            {% csrf_token %}
            <div class="form-group">
               <input type="file" name="file">
            </div>
            <button type='submit' class="btn  btn-primary">загрузить файл .xls "Характеристики СИ"</button>
         </form>
         </center>
         
      </div>
   </div>
   </div>
   
   <hr>

   
      
</div>
{% endblock %}

            
          
         
