{% extends 'main/base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block title %}
   Загрузка EXEL 
{% endblock %}


{% block content %}
<div class="col-8">
      
   <center><h3>Загрузка списков приборов из файлов EXEL</h3> </center>
   
   <ul>
      <li>Для успешной загрузки приборов используйте только файлы EXEL.xls  (xlsx не поддерживается)</li>
      <li>Выгрузите шаблоны файлов (см. ниже) и внесите необходимую информацию на первом листе. На втором листе вы найдете пример заполнения и пояснения</li>
      <li>В каждом файле есть столбцы обязательные для заполнения - их заголовки выделены синим жирным шрифтом; и есть столбцы не обязательные - но желательные для удобства дальнейшей работы. 
         Если не заполнить обязательный столбец - информация не загрузится</li>
      <li>Если информация уже была добавлена ранее, то повторно она не загрузится, даже если будет в файле  </li>
      <li>Нельзя менять названия заголовков столбцов</li>
      <li>Прибор формируется из характеристик СИ/ИО/ВО  и единицы ЛО, затем к СИ и ИО добавляются сведения о поверке и аттестации. Необходимо последовательно выполнить все 4 шага ниже.</li>
      <li>Если возникли вопросы по загрузке приборов через EXEL, то обратитесь к администрации сайта и вам помогут: <a href={% url 'contacts' %}> контакты</a> </li>
   </ul>

   <hr>

  <center><h5>Шаг первый: загружаем характеристики СИ/ИО/ВО</h5></center>
  <br>

   {# загрузка характеристик СИ/ИО/ИО#}
   <div class="container">
   <div class="row">
      <div class="col-5"> 
         <center><a href="{% url 'export_MeasurEquipmentCharakters_pattern_xls'  %}"  class="btn btn-primary  mt-2 mr-2 ml-2">выгрузить шаблон файла .xls "Характеристики СИ"</a></center>
         <br>
         <br>
         <br>
         <center><a href="{% url 'export_MeasurEquipmentCharakters_pattern_xls'  %}"  class="btn btn-primary  mt-2 mr-2 ml-2">выгрузить шаблон файла .xls "Характеристики СИ"</a></center>
         <br>
         <br>
         <br>
        <center> <a href="{% url 'export_MeasurEquipmentCharakters_pattern_xls'  %}"  class="btn btn-primary  mt-2 mr-2 ml-2">выгрузить шаблон файла .xls "Характеристики СИ"</a></center>
      </div>

      <div class="col-5">
         <center>                    
         <form method="post" action "" enctype=multipart/form-data>
            {% csrf_token %}
            <div class="form-group">
               <input type="file" name="file">
            </div>
            <button type='submit' class="btn  btn-primary">загрузить файл .xls "Характеристики СИ"</button>
         </form>
         </center>
         <hr>
         
         <center>                    
         <form method="post" action "" enctype=multipart/form-data>
            {% csrf_token %}
            <div class="form-group">
               <input type="file" name="file">
            </div>
            <button type='submit' class="btn  btn-primary">загрузить файл .xls "Характеристики СИ"</button>
         </form>
         </center>
         <hr>

         <center>                    
         <form method="post" action "" enctype=multipart/form-data>
            {% csrf_token %}
            <div class="form-group">
               <input type="file" name="file">
            </div>
            <button type='submit' class="btn  btn-primary">загрузить файл .xls "Характеристики СИ"</button>
         </form>
         </center>
         
      </div>
   </div>
   </div>
   
   <hr>

  <center><h5>Шаг второй: загружаем единицы ЛО</h5></center>
  <br>

   {# загрузка единиц ЛО #}
   <div class="container">
   <div class="row">
      <div class="col-5"> 
         <center><a href="{% url 'export_MeasurEquipmentCharakters_pattern_xls'  %}"  class="btn btn-primary  mt-2 mr-2 ml-2">выгрузить шаблон файла .xls "Характеристики СИ"</a></center>
      </div>

      <div class="col-5">
         <center>                    
         <form method="post" action "" enctype=multipart/form-data>
            {% csrf_token %}
            <div class="form-group">
               <input type="file" name="file">
            </div>
            <button type='submit' class="btn  btn-primary">загрузить файл .xls "Характеристики СИ"</button>
         </form>
         </center>
                  
      </div>
   </div>
   </div>
   
   <hr>

  <center><h5>Шаг третий: загружаем единицы СИ/ИО/ВО</h5></center>
  <br>

   {# загрузка единиц СИ/ИО/ИО #}
   <div class="container">
   <div class="row">
      <div class="col-5"> 
         <center><a href="{% url 'export_MeasurEquipmentCharakters_pattern_xls'  %}"  class="btn btn-primary  mt-2 mr-2 ml-2">выгрузить шаблон файла .xls "Характеристики СИ"</a></center>
         <br>
         <br>
         <br>
         <center><a href="{% url 'export_MeasurEquipmentCharakters_pattern_xls'  %}"  class="btn btn-primary  mt-2 mr-2 ml-2">выгрузить шаблон файла .xls "Характеристики СИ"</a></center>
         <br>
         <br>
         <br>
        <center> <a href="{% url 'export_MeasurEquipmentCharakters_pattern_xls'  %}"  class="btn btn-primary  mt-2 mr-2 ml-2">выгрузить шаблон файла .xls "Характеристики СИ"</a></center>
      </div>

      <div class="col-5">
         <center>                    
         <form method="post" action "" enctype=multipart/form-data>
            {% csrf_token %}
            <div class="form-group">
               <input type="file" name="file">
            </div>
            <button type='submit' class="btn  btn-primary">загрузить файл .xls "Характеристики СИ"</button>
         </form>
         </center>
         <hr>
         
         <center>                    
         <form method="post" action "" enctype=multipart/form-data>
            {% csrf_token %}
            <div class="form-group">
               <input type="file" name="file">
            </div>
            <button type='submit' class="btn  btn-primary">загрузить файл .xls "Характеристики СИ"</button>
         </form>
         </center>
         <hr>

         <center>                    
         <form method="post" action "" enctype=multipart/form-data>
            {% csrf_token %}
            <div class="form-group">
               <input type="file" name="file">
            </div>
            <button type='submit' class="btn  btn-primary">загрузить файл .xls "Характеристики СИ"</button>
         </form>
         </center>
         
      </div>
   </div>
   </div>
   
   <hr>


  <center><h5>Шаг четвертый: загружаем поверку и аттестацию</h5></center>
  <br>

   {# загрузка поверки и аттестации #}
   <div class="container">
   <div class="row">
      <div class="col-5"> 
         <center><a href="{% url 'export_MeasurEquipmentCharakters_pattern_xls'  %}"  class="btn btn-primary  mt-2 mr-2 ml-2">выгрузить шаблон файла .xls "Характеристики СИ"</a></center>
         <br>
         <br>
         <br>
         <center><a href="{% url 'export_MeasurEquipmentCharakters_pattern_xls'  %}"  class="btn btn-primary  mt-2 mr-2 ml-2">выгрузить шаблон файла .xls "Характеристики СИ"</a></center>
      </div>

      <div class="col-5">
         <center>                    
         <form method="post" action "" enctype=multipart/form-data>
            {% csrf_token %}
            <div class="form-group">
               <input type="file" name="file">
            </div>
            <button type='submit' class="btn  btn-primary">загрузить файл .xls "Характеристики СИ"</button>
         </form>
         </center>
         <hr>
         
         <center>                    
         <form method="post" action "" enctype=multipart/form-data>
            {% csrf_token %}
            <div class="form-group">
               <input type="file" name="file">
            </div>
            <button type='submit' class="btn  btn-primary">загрузить файл .xls "Характеристики СИ"</button>
         </form>
         </center>
         
      </div>
   </div>
   </div>
   
   <hr>

   
      
</div>
{% endblock %}

            
          
         
