{% extends 'main/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Внести калибровку
{% endblock %}

{% block content %}
    <div class="col-8">


        <br> 
        <center><h5><a href="/equipment/measureequipment/{{ title.exnumber }}/">
            {{ title.exnumber|slice:":5" }}, {{title.measurequipment_set.all.last.charakters}}, зав. № {{title.lot}}
         </a> </h5></center>
        
        <center>
            <a href="{% url 'verificatorsreg' %}" class="btn btn-primary mr-2 mt-3" style="width: 500px" target="blank">
            смотреть и добавить поверителей</a>
        </center>
        <br>
 
        <center><h5> Внести сведения о калибровке </h5></center>
        <center>
            <form method="post" enctype="multipart/form-data" class="form-register">
            <form method="post" class="form-register">
            {% csrf_token %}
            {% crispy form %}
            </form>
            </form>
        </center>
        <br>
</div>
{% endblock %}
