{% extends 'main/base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block title %}
    {{ title }}
{% endblock %}


{% block content %}
<div class="col-8">
    <center><h4>
        {% if dopin %}
            <a href="/{{ dopin }}/">
        {% else %}
            <a href="/equipment/measureequipment/{{ dop.exnumber }}/">
        {% endif %}
        {{ title }}
            </a>
    </h4></center>

        {% if title == 'Добавить госреестр' %}
            <br>
            <div style="text-align: center;">
                <a href="{% url 'measurequipmentcharacterslist' %}"  target="blank" class="btn btn-warning ml-2" style="width: 350px">
                    Смотреть добавленные госреестры
                </a>
            </div>
        {% elif title == 'Добавить характеристики ИО' %}
            <br>
            <center>
                <a href="{% url 'testingequipmentcharacterslist' %}"  target="blank" class="btn btn-warning ml-2" style="width: 350px">
                    Смотреть добавленные характеристики ИО
                </a>
            </center>
        {% elif title == 'Добавить характеристики ВО' %}
            <br>
            <center>
                <a href="{% url 'helpingequipmentcharacterslist' %}"  target="blank" class="btn btn-warning ml-2" style="width: 350px">
                    Смотреть добавленные характеристики ВО
                </a>
            </center>
        {% endif %}
        <br>
        <p><i><font color="red"><b>Перед регистрацией проверьте, что отсутствует необходимое описание или госреестр в сочетании с типом и модификацией.
       </b></font> </i></p>

    <center><h4>{{ dop }}</h4></center>
    <br><br>
    <form method="post" class="form-register">
        {% csrf_token %}
        {% crispy form %}
    </form>
    <br>
</div>
{% endblock %}
