{% extends 'main/base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block title %}
    {{ title }}
{% endblock %}


{% block content %}
    <div style="text-align: center;"><h4>
        {% if dopin %}
            <a href="/{{ dopin }}/">
        {% else %}
            <a href="/equipment/measureequipment/{{ dop.exnumber }}/">
        {% endif %}
        {{ title }}</a></h4>
    </div>

    {% if title == 'Добавить госреестр' %}
        <br>
        <div style="text-align: center;">
            <a href="{% url 'measurequipmentcharacterslist' %}"  target="blank" class="btn btn-warning ml-2" style="width: 350px">
                Смотреть добавленные госреестры
            </a>
        </div>
        {% elif title == 'Добавить характеристики ИО' %}
        <br>
        <div style="text-align: center;">
            <a href="{% url 'testingequipmentcharacterslist' %}"  target="blank" class="btn btn-warning ml-2" style="width: 350px">
                Смотреть добавленные характеристики ИО
            </a>
        </div>
        {% elif title == 'Добавить характеристики ВО' %}
        <br>
        <div style="text-align: center;">
            <a href="{% url 'helpingequipmentcharacterslist' %}"  target="blank" class="btn btn-warning ml-2" style="width: 350px">
                Смотреть добавленные характеристики ВО
            </a>
        </div>
    {% endif %}

    <p><i><font color="red"><b>Перед регистрацией проверьте, что отсутствует необходимое описание или госреестр в сочетании с типом и модификацией.
        Если необходимо внести изменения в добавленную запись, пожалуйста обратитесь к администрации сайта: sandra.005@mail.ru или через форму обратной связи.
   </b></font> </i></p>

    <div style="text-align: center;"><h4>{{ dop }}</h4></div>
    <br><br>
    <form method="post" class="form-register">
        {% csrf_token %}
        {% crispy form %}
    </form>
    <br>
{% endblock %}
