{% extends 'main/superbase.html' %}

{% block title %}
Записи о приборе
{% endblock %}


{% block content %}
<div class="col-12">
    {% if title.kategory == 'СИ' %}
    <center><h4>Записи о: <a href="/equipment/measureequipment/{{ title.exnumber }}/">
    {{ title.exnumber |slice:":5"  }}, {{title.measurequipment.charakters.name}}, зав. № {{title.lot}}  </a> </h4> </center>
    <br><br>
    {% elif title.kategory == 'ИО' %}
    <center><h4>Записи о: <a href="/equipment/testequipment/{{ title.exnumber }}/">
    {{ title.exnumber |slice:":5"  }}, {{title.testingequipment.charakters.name}}, зав. № {{title.lot}}  </a> </h4></center>
    <br><br>
    {% elif title.kategory == 'ВО' %}
    <center><h4>Записи о: <a href="/equipment/helpequipment/{{ title.exnumber }}/">
    {{ title.exnumber |slice:":5"  }}, {{title.helpingequipment.charakters.name}}, зав. № {{title.lot}}  </a> </h4></center>
    <br><br>
    {% endif %}

    <center>
    <form method="post" enctype="multipart/form-data" class="form-register">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-outline-warning" type="submit">Отправить</button>
    </form>
    <br>
    </center>

    <center>
    {% for obj in note %}
        <div class="alert alert-light">
            <p>{{ obj.note }}</p>
            {% if obj.img %}
            <a href="{{ obj.img.url }}" target="blank">
            <img width=90% src="{{ obj.img.url }}"></a>
            {% endif %}
            
            <br>
            <hr>
        
            <p><b>Тип записи: {{ obj.type }}</b></p>
            <p><b>Автор записи: {{ obj.created_by.name|default_if_none:"" }}</b></p>
            <span class="text-muted"> {{ obj.date|date:"j F Y" }}</span>
        </div>
        <br>
   
    {% endfor %}
 </center>
    </div>
{% endblock %}    


