{% extends 'main/base.html' %}

{% block title %}
Особенности ЛО
{% endblock %}


{% block content %}
<center><h5>Обновление для ответственного за оборудование: 
    <a href="/equipment/measureequipment/{{ title.exnumber }}/">
        {{title.measurequipment_set.all.last.charakters}}, заводской № {{title.lot}}, внутренний № {{ title.exnumber|slice:":5" }} </a> 
     </h5></center>
     <br>
    <div class="col-7"> 
    <center>
    <form method="post" enctype="multipart/form-data" class="form-register">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-outline-prima" type="submit">Отправить</button>
    </form>
    </center>
    <br>

{% endblock %}
