{% extends 'main/base.html' %}

{% block title %}
Особенности ЛО
{% endblock %}


{% block content %}
<div class="col-8"> 
<center><h4>
{% if title %}
    {% if title.measurequipment %}
    <a href="/equipment/measureequipment/{{ title.exnumber }}/">
  Обновление данных ЛО:  {{title.measurequipment.charakters.name}}, заводской № {{title.lot}}, внутренний № {{ title.exnumber|slice:":5" }} </a> 
    {% elif title.testingequipment %}
    <a href="/equipment/testequipment/{{ title.exnumber }}/">
Обновление данных ЛО:  {{title.testingequipment.charakters.name}}, заводской № {{title.lot}}, внутренний № {{ title.exnumber|slice:":5" }} </a> 
        {% elif title.helpingequipment %}
    <a href="/equipment/helpequipment/{{ title.exnumber }}/">
 Обновление данных ЛО:  {{title.helpingequipment.charakters.name}}, заводской № {{title.lot}}, внутренний № {{ title.exnumber|slice:":5" }} </a> 
       {% endif %} 
         </h4></center>
     <br>
{% endif %} 

{% if ob %}
    <center><h4>
<a href="{% url "equipmentkategoryupdate" ob.pk %}"> 
    Смена категории оборудования вн. номер {{ob.exnumber|slice:":5"}}</a> 
         </h4></center>
     {% endif %}   
     

    {% if ob %}
  <center><h4>    Внимание! У оборудования {{ob}} будут удалены характеристики </h4></center>
       <br>
    {% endif %}
    <center>
    <form method="post" enctype="multipart/form-data" class="form-register">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-outline-primary" type="submit">Отправить</button>
    </form>
    </center>
    <br>
</div>
{% endblock %}
