{% extends 'main/base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{#название страницы#}
{#стандартная#}
{% block title %}
    ЛО
{% endblock %}
{#конец названия страницы#}

{% block content %}
<div class="col-8">

    {#стандартная#}
    <center><a href='{% url "equipmentreg" %}'><h4> Лабораторное оборудование - все приборы</h4></a></center>
    <br>
    {#конец заголовка #}
    
    {#основная таблица#}
    <center>
    <table class="table table-bordered flexy">
        <thead>
            <tr>
                <th>Внут.№</th>
                <th> Заводской № </th>
                <th> Категория </th>
                <th> Название </th>
                <th> Статус </th>
                {% if USER_HAVE_RIGHTS %} 
                <th> Редактировать </th>
                <th> Удалить </th>
                <th> Поменять категорию и/или характеристики </th>
                <th> Характеристики СИ/ИО/ВО добавить</th>
                {% endif %}
             </tr>
        </thead>
        <tbody>
        {% for obj in objects %}
        <tr>
            {% if obj.measurequipment %}
            <td> <a href="{% url 'measureequipment' obj.exnumber %}"  class="btn btn-outline-primary">{{obj.exnumber| slice:":5"}}</a></td> 
            {% elif obj.testingequipment  %}
            <td> <a href="{% url 'testequipment' obj.exnumber %}"  class="btn btn-outline-primary">{{obj.exnumber| slice:":5"}}</a></td> 
            {% elif obj.helpingequipment %}
            <td> <a href="{% url 'helpequipment' obj.exnumber %}"  class="btn btn-outline-primary">{{obj.exnumber| slice:":5"}}</a></td>
            {% else %}
            <td> {{obj.exnumber| slice:":5"}}</td>            
            {% endif %}
            <td> {{ obj.lot }}</td>
            <td> {{ obj.kategory }}</td>
            
            {% if obj.measurequipment %}
             <td> {{ obj.measurequipment.charakters.name|default_if_none:'yellow' }}  {{ obj.measurequipment.charakters.typename|default_if_none:'yellow' }} {{ obj.measurequipment.charakters.modificname|default_if_none:'yellow' }}</td>
            {% elif obj.testingequipment  %}
             <td> {{ obj.testingequipment.charakters.name|default_if_none:'yellow' }}  {{ obj.testingequipment.charakters.typename|default_if_none:'yellow' }} {{ obj.testingequipment.charakters.modificname|default_if_none:'yellow' }}</td>
            {% elif obj.helpingequipment %}
             <td> {{ obj.helpingequipment.charakters.name|default_if_none:'yellow' }}  {{ obj.helpingequipment.charakters.typename|default_if_none:'yellow' }} {{ obj.helpingequipment.charakters.modificname|default_if_none:'yellow' }}</td>    
            {% else %}
            <td> </td>
           {% endif %}
            
            <td> {{ obj.get_status_display }}</td>
            
            {% if USER_HAVE_RIGHTS %} 
            <td><a href="/equipment/equipmentind/{{ obj.exnumber }}/individuality/"  class="btn btn-outline-info mt-3">ред</a></td>  
            <td><a href="{% url 'equipmentdelete' obj.pk %}"  class="btn btn-outline-info mt-3">удалить</a></td>
            <td><a href="{% url 'equipmentkategoryupdate' obj.pk %}"  class="btn btn-outline-info mt-3">менять</a></td>


            
            {% if obj.measurequipment %}
            <td> <a href="{% url 'measureequipment' obj.exnumber %}"  class="btn btn-outline-primary">добавлены, см. СИ</a></td> 
            {% elif obj.testingequipment  %}
            <td> <a href="{% url 'testequipment' obj.exnumber %}"  class="btn btn-outline-primary">добавлены, см. ИО</a></td> 
            {% elif obj.helpingequipment %}
            <td> <a href="{% url 'helpequipment' obj.exnumber %}"  class="btn btn-outline-primary">добавлены, см. ВО</a></td>
            {% elif obj.testingequipment  %}
            {% elif not obj.measurequipment_set.all and not obj.testingequipment_set.all and not  obj.helpingequipment_set.all and obj.kategory == 'СИ' %}
            <td><a href="/equipment/measureequipmentreg/{{obj.exnumber}}/" class="btn btn-outline-primary">Добавить характеристики СИ</a> </td> 
            {% elif not obj.measurequipment and not obj.testingequipment and not  obj.helpingequipment and obj.kategory == 'ИО' %}
            <td><a href="/equipment/testequipmentreg/{{obj.exnumber}}/" class="btn btn-outline-primary">Добавить характеристики ИО</a> </td> 
            {% elif not obj.measurequipment and not obj.testingequipment and not  obj.helpingequipment and obj.kategory == 'ВО' %}
            <td><a href="/equipment/helpequipmentreg/{{obj.exnumber}}/" class="btn btn-outline-primary">Добавить характеристики ВО</a> </td>  
            {% else %}
            <td> --- </td>       
            {% endif %}
        </tr>
             {% endif %}
        {% endfor %}
           
        </tbody>
    </table>
    </center>
    {#конец основной таблицы#}
    
    {#пагинация#}
    {# стандартная #}
    {% if is_paginated %}
        {% if page_obj.has_previous %}
           <a href="?page=1" class="btn btn-outline-primary">Начало</a>
           <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-outline-primary">Предыдущая</a>
      {% endif %}
        {% if page_obj.has_next %}
           <a href="?page={{ page_obj.next_page_number }}" class="btn btn-outline-primary">Следующая</a>
           <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-outline-primary">Последняя</a>
      {% endif %}
      {% endif %}
    {#конец пагинации#}
</div>
{% endblock %}





