{% extends 'main/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Регистрация ЛО
{% endblock %}


{% block content %}
<div style="text-align: center;"><h4> Регистрация ЛО* </h4></div>
    <p><i><font color="red"><b>Перед регистрацией проверьте, что добавлен производитель и
        характеристики ИО/ВО или госреестр с соответсвующей модификацией.
        Они будут необходимы на втором этапе регистрации.
        Для определения категории оборудования читайте статью или обратитесь к администрации сайта.
   </b></font> </i></p>
<div style="text-align: center; margin-top: 20px">
<a href="{% url 'manufacturerreg' %}"  target="blank" class="btn btn-info ml-2 mt-2">
Добавить производителя</a>
<a href="{% url 'measurequipmentcharactersreg' %}"  target="blank" class="btn btn-info ml-2 mt-2">
Добавить Госрестр</a>

<a href="{% url 'testingequipmentcharactersreg' %}"  target="blank" class="btn btn-info ml-2 mt-2">
Добавить характеристики ИО</a>
<a href="{% url 'helpingequipmentcharactersreg' %}"  target="blank" class="btn btn-info ml-2 mt-2">
Добавить характеристики ВО</a>
</div>
<form method="post" enctype="multipart/form-data" class="form-register">
    {% csrf_token %}
    {% crispy form %}
</form>
{% endblock %}
