{% extends 'main/base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block title %}
    Регистрация ЛО
{% endblock %}


{% block content %}
 <div class="col-8">
<center><a href="{% url 'euipmentall' %}" class="btn btn-primary mt-2 ml-1 mr-1"  style="width: 70%">Список добавленных приборов (смотреть и редактировать)</a></center>
<br>
     <hr>
     
<center><h4> Регистрация ЛО* </h4></center>
    <p><i>*Перед регистрацией проверьте, что добавлены 
        характеристики СИ/ИО/ВО/.
        Они потребуются на втором этапе регистрации.
        Для определения категории оборудования читайте  <a href= "/articles/1/"  target="blank">  статью </a> или обратитесь к администрации сайта.
    </i></p>
<div style="text-align: center; margin-top: 20px">
<a href="{% url 'manufacturerreg' %}"  target="blank" class="btn btn-primary ml-2 mt-2">
Добавить производителя</a>
<a href="{% url 'measurequipmentcharactersreg' %}"  target="blank" class="btn btn-primary ml-2 mt-2">
Добавить Госрестр</a>

<a href="{% url 'testingequipmentcharactersreg' %}"  target="blank" class="btn btn-primary ml-2 mt-2">
Добавить характеристики ИО</a>
<a href="{% url 'helpingequipmentcharactersreg' %}"  target="blank" class="btn btn-primary ml-2 mt-2">
Добавить характеристики ВО</a>
</div>
<form method="post" enctype="multipart/form-data" class="form-register"> 
    {% csrf_token %} 
    {% crispy form %}
</form>>
 </div>
{% endblock %}
