{% extends 'main/base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{#название страницы#}
{#стандартная#}
{% block title %}
    ЛО
{% endblock %}
{#конец названия страницы#}

{% block content %}
<div class="col-8">

    {#стандартная#}
    <center><a href='{% url "equipmentreg" %}'><h4> Лабораторное оборудование - все приборы</h4></a></center>
    <br>
    {#конец заголовка #}
    
    {#основная таблица#}
    <center>
    <table class="table table-bordered flexy">
        <thead>
            <tr>
                <th>Внут.№</th>
                <th> Заводской № </th>
                <th> Категория </th>
                <th> Редактировать </th>
                <th> Удалить </th>
                <th> Характеристики СИ/ИО/ВО </th>
             </tr>
        </thead>
        <tbody>
        {% for obj in objects %}
        <tr>
            <td>{{ obj.exnumber|slice:":5" }}</td>
            <td> {{ obj.lot }}</td>
            <td> {{ obj.kategory }}</td>
            <td><a href="/equipment/measureequipment/{{ obj.exnumber }}/individuality/"  class="btn btn-outline-info mt-3">ред</a></td>  
            <td><a href="{% url 'equipmentdelete' obj.pk %}"  class="btn btn-outline-info mt-3">удалить</a></td>
            
            {% if obj.measurequipment_set.all %}
            <td> <a href="{% url 'measureequipment' obj.exnumber %}"  class="btn btn-outline-primary">добавлены, см. СИ</a></td> 
            {% elif obj.testingequipment_set.all  %}
            <td> <a href="{% url 'testequipment' obj.exnumber %}"  class="btn btn-outline-primary">добавлены, см. ИО</a></td> 
            {% elif obj.helpingequipment_set.all %}
            <td> <a href="{% url 'helpingequipment' obj.exnumber %}"  class="btn btn-outline-primary">добавлены, см. ВО</a></td>
            {% elif obj.testingequipment_set.all  %}
            {% elif not obj.measurequipment_set.all and not obj.testingequipment_set.all and not  obj.helpingequipment_set.all and obj.kategory == 'СИ' %}
            <td><a href="/equipment/measureequipmentreg/{{obj.exnumber}}/" class="btn btn-outline-primary">Добавить характеристики СИ</a> </td> 
            {% elif not obj.measurequipment_set.all and not obj.testingequipment_set.all and not  obj.helpingequipment_set.all and obj.kategory == 'ИО' %}
            <td><a href="/equipment/testequipmentreg/{{obj.exnumber}}/" class="btn btn-outline-primary">Добавить характеристики ИО</a> </td> 
            {% elif not obj.measurequipment_set.all and not obj.testingequipment_set.all and not  obj.helpingequipment_set.all and obj.kategory == 'ИО' %}
            <td><a href="/equipment/helpequipmentreg/{{obj.exnumber}}/" class="btn btn-outline-primary">Добавить характеристики ВО</a> </td>  
            {% else %}
            <td> --- </td>       
            {% endif %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
    </center>
    {#конец основной таблицы#}
    
    {#пагинация#}
    {# стандартная #}
    {% if is_paginated %}
        {% if page_obj.has_previous %}
           <a href="?page=1" class="btn btn-outline-primary">Начало</a>
           <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-outline-primary">Предыдущая</a>
      {% endif %}
        {% if page_obj.has_next %}
           <a href="?page={{ page_obj.next_page_number }}" class="btn btn-outline-primary">Следующая</a>
           <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-outline-primary">Последняя</a>
      {% endif %}
      {% endif %}
    {#конец пагинации#}
</div>
{% endblock %}





