{% extends 'main/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Регистрация ЛО
{% endblock %}


{% block content %}
<div style="text-align: center;"><h4> Регистрация ЛО </h4></div>
<div style="text-align: center; margin-top: 20px">
<a href="{% url 'manufacturerreg' %}"  target="blank" class="btn btn-info ml-2">
Добавить производителя</a>
<a href="{% url 'measurequipmentcharactersreg' %}"  target="blank" class="btn btn-info ml-2">
Добавить Госрестр</a>

<a href="{% url 'testingequipmentcharactersreg' %}"  target="blank" class="btn btn-info ml-2">
Добавить характеристики ИО</a>
</div>
<form method="post" enctype="multipart/form-data" class="form-register">
    {% csrf_token %}
    {% crispy form %}
</form>
{% endblock %}
