{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}
редакция ТОиР
{% endblock %}

{% block content %}
  <div class="col-8">
<div style="text-align: center; margin-top: 20px">
{% if obj.measurequipment %}
  <a href="{% url 'measureequipment' obj.exnumber %}">
    <h5>{{obj.exnumber|slice:":5"|default:" "}},  {{obj.measureequipment.name|default:" "}} - в график ТОиР </h5></a>
{% elif obj.testingequipment %}
  <a href="{% url 'testequipment' obj.exnumber %}">
    <h5>{{obj.exnumber|slice:":5"|default:" "}},  {{obj.testingequipment.name|default:" "}} - в график ТОиР </h5></a>
{% elif obj.helpingequipment %}
  <a href="{% url 'helpequipment' obj.exnumber %}">
    <h5>{{obj.exnumber|slice:":5"|default:" "}},  {{obj.helpingequipment.name|default:" "}} - в график ТОиР </h5></a>
  {% else%}
  в график ТОиР
{% endif %}  
</div>



    <div style="text-align: center; margin-top: 25px">
        <form action="{% url 'addserviceitem' obj.pk  %}" method="GET">
            {% csrf_token %}
            {% crispy addform %}
        </form>
    </div>

    <div style="text-align: center; margin-top: 25px">
        <form action="{% url 'delserviceitem' obj.pk %}" method="GET">
            {% csrf_token %}
            {% crispy delform %}
        </form>
    </div> 


    
</div>
{% endblock %}
