{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}
редакция ТОиР
{% endblock %}

{% block content %}
  <div class="col-8">
<div style="text-align: center; margin-top: 20px">
<h5>{{obj.exnumber|slice:":5"|default:" "}}  график ТОиР </h5>
</div>



    <div style="text-align: center; margin-top: 25px">
        <form action="{% url 'addserviceitem' obj.pk  %}" method="GET">
            {% csrf_token %}
            {% crispy addform %}
        </form>
    </div>

    <div style="text-align: center; margin-top: 25px">
        <form action="{% url 'delserviceitem' obj.pk %}" method="GET">
            {% csrf_token %}
            {% crispy delform %}
        </form>
    </div> 


    
</div>
{% endblock %}
