{% extends 'main/base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{#название страницы#}
{#стандартная#}
{% block title %}
    Производители лабораторного оборудования 
{% endblock %}
{#конец названия страницы#}

{% block content %}
<div class="col-8">

      {#заголовок#}
          <a href="{% url 'manufacturerlist' %}">
          <center><h4> Производители лабораторного оборудования</h4></center>
          </a>
          <br>
      {#конец заголовка #}
      {% if USER_HAVE_RIGHTS %} 
          <br>
          <center>
              <a href="{% url 'manufacturerreg' %}"  target="blank" class="btn btn-info" style="width: 40%">
                  Добавить производителя
              </a>
          </center>
      <br>
{% endif %}
    
     {#форма для поиска по полям #}
     {#   #   <br><br>#}
          {# <div style="text-align: center; margin-top: 25px">#}
             {#  <form action="/equipment/reestrsearres/" method="GET">#}
               {#    {% csrf_token %}#}
                {#   {% crispy form %}#}
             {#  </form>#}
         {#  </div>#}
      {#конец формы для поиска#}
      
      {#основная таблица#}
      <div style="text-align: center; margin-top: 25px">
          <table class="table table-bordered">
                  <tr>
                      <th>Название</th>
                      <th> Адрес </th>
                      <th> Телефон </th>
                      <th> Телефон техподдержки </th>
                      {% if USER_HAVE_RIGHTS  %}
                          <th>Ред.</th>
                          <th>удалить</th>
                      {% endif %}                      
                   </tr>
              {% for obj in objects %}
                  <tr>
                      <td>{{ obj.companyName  }}</td>
                      <td>{{ obj.companyAdress }}</td>
                      <td>{{ obj.telnumber }}</td>
                      <td>{{ obj.telnumberhelp }}</td>
                        {% if USER_HAVE_RIGHTS  %}  
                        {% if POINTER == obj.pointer %}
                        <td> <a href="{% url 'manufupdate' obj.pk %}"  class="btn btn-outline-primary mt-3">ред</a></td> 
                        <td> <a href="{% url 'veragrificatordelete' obj.pk %}"  class="btn btn-outline-primary mt-3">удал</a></td> 
                        {% else %}
                         <th> </th>
                        <th> </th>
                        {% endif %}
                        {% endif %}
                  </tr>
              {% endfor %}
          </table>
      </div>
      {#конец основной таблицы#}
      
      {#пагинация#}
      {# стандартная #}
      {% if is_paginated %}
          {% if page_obj.has_previous %}
             <a href="?page=1" class="btn btn-outline-primary">Начало</a>
             <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-outline-primary">Предыдущая</a>
        {% endif %}
          {% if page_obj.has_next %}
             <a href="?page={{ page_obj.next_page_number }}" class="btn btn-outline-primary">Следующая</a>
             <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-outline-primary">Последняя</a>
        {% endif %}
        {% endif %}
      {#конец пагинации#}
</div>
{% endblock %}
