{% extends 'main/base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{#название страницы#}
{#стандартная#}
{% block title %}
    Микроклимат
{% endblock %}
{#конец названия страницы#}

{% block content %}
<div class="col-8"> 
   
         <center><h4> Микроклимат в помещении {{ title }}</h4></center>
        <br>
        
        <center>
            {% if USER %}
                <a href="{% url 'meteoreg' %}" class="btn btn-primary  mt-3" style="width: 80%">Добавить запись о микроклимате</a>
            {% endif %}
        </center>
        <br>

        <center><h5>Найти условия микроклимата на дату:</h5></center>
               
        <center>
            <form action="{% url 'meteoroomser' titlepk %}" target="blank" method="GET">
                {% csrf_token %}
                {% crispy form %}
            </form>
        </center>
        <br>

        <center><h5>Сформировать журнал за год:</h5></center>
        <center>
              <form action="{% url 'export_meteo_xls' titlepk %}" target="blank" method="GET">
                  {% csrf_token %}
                  {% crispy form1 %}
              </form>
        </center>
        <br>

    
        {#основная таблица#}
        <center>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Дата</th>
                    <th> Температура (°C) </th>
                    <th> Относительная <br>влажность (%) </th>
                    <th> Давление (кПа) </th>
                    <th> Гигрометр </th>
                    <th> Барометр </th>
                 </tr>
            </thead>
            <tbody>
            {% for obj in objects %}
                <tr>
                    <td>{{ obj.date|date:'d.m.Y' }}</td>
                    <td> {{ obj.temperature }}</td>
                    <td> {{ obj.humidity }}</td>
                    <td> {{ obj.pressure }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </center>
        {#конец основной таблицы#}

            
        {#пагинация#}
        {# стандартная #}
        {% if is_paginated %}
            {% if page_obj.has_previous %}
               <a href="?page=1" class="btn btn-outline-primary">Начало</a>
               <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-outline-primary">Предыдущая</a>
          {% endif %}
            {% if page_obj.has_next %}
               <a href="?page={{ page_obj.next_page_number }}" class="btn btn-outline-primary">Следующая</a>
               <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-outline-primary">Последняя</a>
          {% endif %}
          {% endif %}
        {#конец пагинации#}
    
</div>
{% endblock %}

