{% extends 'main/base.html' %}


{% block title %}
   Регистрация 
{% endblock %}


{% block content %}
<div class="col-8">
    <center>
    {% if dopin %}
    <h4><a href="/{{ dopin }}">{{ title }}</a></h4>
    {% elif not dopin %}
    <h4>{{ title }}</h4>
    {% else %}
    <h4><a href="/equipment/measureequipment/{{ dop.exnumber }}/">{{ title }}</a></h4>
    {% endif %}
    </center>
    
      <center><h4>{{ dop.exnumber |slice:":5"}}</h4>
      <br><br>
      <form method="post" enctype="multipart/form-data" class="form-register">
          {% csrf_token %}
          {{ form.as_p }}
          <button class="btn btn-outline-primary" type="submit">Записать</button>
      </form>
      <br>
      </center>

      <center><h5>Госреестры и описания типов: смотреть и добавить</h5></center>
    <center>
        <a href="{% url 'measurequipmentcharacterslist' %}" target="blank" class="btn btn-primary mr-2 ml-2 mt-4" style="width: 30%">Госреестры</a>
        <a href="{% url 'testingequipmentcharacterslist' %}" class="btn btn-primary mr-2 ml-2 mt-4" style="width: 30%">Описания ИО</a>
        <a href="{% url 'helpingequipmentcharacterslist' %}" class="btn btn-primary  mr-2 ml-2 mt-4" style="width: 30%">Описания ВО</a>
    </center>
    <br>
  
</div>
{% endblock %}
