{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}
    Метрологическое обеспечение ЛО
{% endblock %}


{% block content %}
<div class="col-8">  
        <br>
        <center>
            <a href="{% url 'verificationlabels' %}" class="btn btn-primary mt-2 ml-1 mr-1"  style="width: 50%">Распечать этикетки на СИ и ИО</a>
            <a href="{% url 'lasttenequipment' %}" class="btn btn-primary mt-2 ml-1 mr-1"  style="width: 50%">Список последних 10 добавленных приборов</a>
        </center>
        <br>
        <hr>
        
        <div style="text-align: center; margin-top: 20px"><h5>Выгрузить в EXEL График ТОиР СИ ИО ВО</h5></div>        
        <div style="text-align: center; margin-top: 10px "width: 100%"> 
            <form action="{% url 'export_mustver_xls' %}" target="blank" method="GET">
                {% csrf_token %}
                {% crispy form %}
            </form>
        </div>  
        <hr>
       
        <div style="text-align: center; margin-top: 20px"><h5>Неповеренные к указанной дате СИ</h5></div>        
        <div style="text-align: center; margin-top: 10px "width: 100%">      
             <form action="{% url 'mustver' %}" target="blank" method="GET">
                {% csrf_token %}
                {% crispy form %}
            </form>
        </div> 
        <hr>


        <div style="text-align: center; margin-top: 20px"><h5>Список СИ требующих поверки к указанной дате</h5></div>        
        <div style="text-align: center; margin-top: 10px "width: 100%"> 
            <form action="{% url 'mustatt' %}" target="blank" method="GET">
                {% csrf_token %}
                {% crispy form %}
            </form>
        </div>
        <hr>


        <div style="text-align: center; margin-top: 20px"><h5>Выгрузить в EXEL список СИ для поверки и ИО для аттестации</h5></div>        
        <div style="text-align: center; margin-top: 10px "width: 100%"> 
            <form action="{% url 'notver' %}" target="blank" method="GET">
                {% csrf_token %}
                {% crispy form %}
            </form>
        </div> 
        <hr>


        <div style="text-align: center; margin-top: 20px"><h5>Список СИ для заказа взамен СИ с истёкшей поверкой</h5></div>        
        <div style="text-align: center; margin-top: 10px "width: 100%"> 
            <form action="{% url 'notatt' %}" target="blank" method="GET">
                {% csrf_token %}
                {% crispy form %}
            </form>
        </div>  
        <br>
    


</div>
{% endblock %}
