{% extends 'main/base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block title %}
   Заказ поверки
{% endblock %}


{% block content %}
<div class="col-8">
  
<!-- тестовый код тут -->

<center><h5></h>Сформировать заявку на поверку/аттестацию и отметить в базе данных что прибор в поверке/аттестации</h5></center>
   <br>


      <form method="post" enctype="multipart/form-data" class="form-register">
          {% csrf_token %}
          {{ form.as_p }}
          <button class="btn btn-outline-primary" type="submit">Выбрать</button>
      </form>

      <br>
      </center>    
   
   
   
   <br>
 <center><div class="btn-group">
  <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    Выбрать список приборов
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="{% url 'orderverification' str=0 %}">все приборы</a></li>
    <li><a class="dropdown-item" href="{% url 'orderverification' str=1 %}">не поверено на сегодняшний день</a></li>
    <li><a class="dropdown-item" href="{% url 'orderverification' str=2 %}">требует поверки на сегодняшний день</a></li>
    <li><a class="dropdown-item" href="{% url 'orderverification' str=3 %}">нужно заказать замену на сегодняшний день</a></li>
    <li><a class="dropdown-item" href="{% url 'orderverification' str=34 %}">поверка заказана</a></li>
  </ul>
</div> </center>
      <br>



   
<center>
<form action="{% url 'orderverificationchange' str=0 %}" method="post">
   {% csrf_token %}
   <table class="table table-bordered flex">
             <tr>
          <th> выберите</th>
        <th>Внутренний номер</th>
                <th>Категория</th>
                <th>Последняя организация-поверитель</th>
                <th>Место последней поверки</th>
          <th>Поверка</th>
                
       </tr>
    {% for obj in list %}
       <tr>
          <td> <input type="checkbox" value="{{obj.id}}" name="my_object"></td>
          
            {% if obj.measurequipment %}
            <td> <a href="{% url 'measureequipment' obj.exnumber %}"  class="btn btn-outline-primary">{{obj.exnumber| slice:":5"}}</a></td> 
            {% elif obj.testingequipment  %}
            <td> <a href="{% url 'testequipment' obj.exnumber %}"  class="btn btn-outline-primary">{{obj.exnumber| slice:":5"}}</a></td> 
            {% elif obj.helpingequipment %}
            <td> <a href="{% url 'helpingequipment' obj.exnumber %}"  class="btn btn-outline-primary">{{obj.exnumber| slice:":5"}}</a></td>
            {% else %}
            <td> {{obj.exnumber| slice:":5"}}</td>            
            {% endif %}

          <td> {{obj.kategory}}</td> 
          
            {% if obj.measurequipment %}
          <td>{{obj.measurequipment.newverificator|default_if_none:" "}}</td> 
            <td>{{obj.measurequipment.newplace|default_if_none:" "}}</td> 
          <td> {{ obj.measurequipment.newhaveorder|yesno:"Заказана,Не заказана" }}</td>
          
            {% elif obj.testingequipment %}
          <td>{{obj.testingequipment.newverificator|default_if_none:" "}}</td>
            <td>{{obj.testingequipment.newplace|default_if_none:" "}}</td>
          <td> {{ obj.testingequipment.newhaveorder|yesno:"Заказана,Не заказана" }}</td>
          {% else %}
          <td>-</td>
          <td>-</td>
          <td>-</td>
           {% endif %}

       </tr>

    {% endfor %}
      </table>
   <button type="submit" name="true"  class="btn btn-primary mr-1 ml-1 mt-2"> Добавить в список "поверка/аттестация заказана"</button>
    <button type="submit" name="false">Добавить в список "поверка/аттестация не заказана"</button>
  
</form>
</center>




  
<!--   конец тестового кода -->
  
</div>
{% endblock %}
