{% extends 'main/base.html' %}

{% block title %}
{{ title }}
{% endblock %}


{% block content %}
  <div class="col-8">
<center>
{% if dopin %}
<h4><a href="/{{ dopin }}">{{ title }}</a></h4>
{% else %}
<h4><a href="/equipment/measureequipment/{{ dop.exnumber }}/">{{ title }}</a></h4>
{% endif %}
</center>

    <center><h4>{{ dop.exnumber |slice:":5"}}</h4>
    <br><br>
    <form method="post" enctype="multipart/form-data" class="form-register">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-outline-warning" type="submit">Записать</button>
    </form>
    <br>
    </center>
  </div>
{% endblock %}
