{% extends 'main/base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{#название страницы#}
{#стандартная#}
{% block title %}
    ТОиР
{% endblock %}
{#конец названия страницы#}

{% block content %}
<div class="col-8">  
{#заголовок#}
    <a href="{% url 'managerequipment' %}">
    <div style="text-align: center;"><h4> Периодическое техническое обслуживание лабораторного оборудования ТО-2</h4></div>
    </a>
{#конец заголовка #}
 <hr>   

  
{#форма дляграфика ТОИР на определенный год #}
<div style="text-align: center; margin-top: 25px">
   <h6>Посмотреть график ТОиР за год (укажите год в форме ниже)</h6> 
</div>
    <div style="text-align: center; margin-top: 25px">
        <form action="{% url 'serviceyear' %}" method="GET">
            {% csrf_token %}
            {% crispy lookyearform %}
        </form>
    </div>
{#конец формы #}
<hr>
    
  
<div style="text-align: center; margin-top: 25px">
    <h6>Выгрузить график ТОиР в exel за год (укажите год в форме ниже) </h6>  
</div>
    <div style="text-align: center; margin-top: 25px">
        <form action="{% url 'export_maintenance_schedule_xls' %}" method="GET">
            {% csrf_token %}
            {% crispy getyearform %}
        </form>
    </div>
{#конец формы #}
<hr>

{% if USER_HAVE_RIGHTS %}
{#форма для массового формирования ТОИР на год #}
<div style="text-align: center; margin-top: 25px">
   <h6>Сформировать график ТОиР в базе данных за год (укажите год в форме ниже)</h6> 
</div>
    <div style="text-align: center; margin-top: 25px">
        <form action="{% url 'create' %}" method="GET">
            {% csrf_token %}
            {% crispy createyearform %}
        </form>
    </div>
{#конец формы #}
<hr>
{% endif %}


    
</div>
{% endblock %}

