{% extends 'main/base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{#название страницы#}
{#стандартная#}
{% block title %}
    ТОиР
{% endblock %}
{#конец названия страницы#}

{% block content %}
<div class="col-8">  
{#заголовок#}
    <a href="{% url 'measurequipmentcharacterslist' %}">
    <div style="text-align: center;"><h4> Периодическое техническое обслуживание лабораторного оборудования ТО-2</h4></div>
    </a>
{#конец заголовка #}
 <hr>   
{#форма для массового формирования ТОИР на год #}
<div style="text-align: center; margin-top: 25px">
   <h6>Сформировать график ТОиР в базе данных за год (укажите год в форме ниже)</h6> 
</div>
    <div style="text-align: center; margin-top: 25px">
        <form action="{% url 'create' %}" method="GET">
            {% csrf_token %}
            {% crispy yearform %}
        </form>
    </div>
{#конец формы #}
<hr>

    
{#форма дляграфика ТОИР на определенный год #}
<div style="text-align: center; margin-top: 25px">
   <h6>Посмотреть график ТОиР в базе данных за год (укажите год в форме ниже)</h6> 
</div>
    <div style="text-align: center; margin-top: 25px">
        <form action="{% url 'serviceyear' %}" method="GET">
            {% csrf_token %}
            {% crispy yearform %}
        </form>
    </div>
{#конец формы #}
<hr>

    
    
{#форма для поиска по полям #}
    <br><br>
    <div style="text-align: center; margin-top: 25px">
        <form action="/equipment/reestrsearres/" method="GET">
            {% csrf_token %}
            {% crispy form %}
        </form>
    </div>
{#конец формы для поиска#}

<hr>


    
{#основная таблица#}

    <div style="text-align: center; margin-top: 25px">
   <h6>Смотреть и редактировать график ТОиР на {{year}} год </h6> 
</div>
<div style="text-align: center; margin-top: 25px">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Оборудование (внутренний номер)</th>
                <th>План по ТО-2 (планировать и отмечать)</th>
             </tr>
        </thead>
        <tbody>
        {% for obj in objects %}
        <tr>
            {% if obj.equipment.measurequipment_set.all %}
            <td> <a href="{% url 'measureequipment' obj.equipment.exnumber %}"  class="btn btn-outline-primary">{{obj.equipment.exnumber| slice:":5"}}</a></td> 
            {% elif obj.equipment.testingequipment_set.all  %}
            <td> <a href="{% url 'testequipment' obj.equipment.exnumber %}"  class="btn btn-outline-primary">{{obj.equipment.exnumber| slice:":5"}}</a></td> 
            {% elif obj.equipment.helpingequipment_set.all %}
            <td> <a href="{% url 'helpingequipment' obj.equipment.exnumber %}"  class="btn btn-outline-primary">{{obj.equipment.exnumber| slice:":5"}}</a></td>
            {% else %}
            <td> {{obj.equipment.exnumber| slice:":5"}}</td>            
            {% endif %}
            <td> <a href="{% url 'serviceplan' obj.pk %}"  class="btn btn-outline-primary">СМ</a></td> 
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{#конец основной таблицы#}

{#пагинация#}
{# стандартная #}
{% if is_paginated %}
    {% if page_obj.has_previous %}
       <a href="?page=1" class="btn btn-outline-primary">Начало</a>
       <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-outline-primary">Предыдущая</a>
  {% endif %}
    {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}" class="btn btn-outline-primary">Следующая</a>
       <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-outline-primary">Последняя</a>
  {% endif %}
  {% endif %}
{#конец пагинации#}
  
</div>
{% endblock %}

