{% extends 'main/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Аттестация испытательного оборудования
{% endblock %}



{% block content %}
<div class="col-8">
        <center><h5><a href="/equipment/testequipment/{{ title.exnumber }}/">
            {{ title.exnumber|slice:":5" }}, {{title.testingequipment.last.charakters.name}}, зав. № {{title.lot}}
         </a> </h5></center>
    
        <center>
            <a href="{% url 'verificatorsreg' %}" class="btn btn-primary mr-2 mt-3" style="width: 500px" target="blank">
            смотреть и добавить поверителей</a>
        </center>
        <br>
 
        <center><h5> Внести сведения об аттестации </h5></center>
        <center>


    
    <form method="post" enctype="multipart/form-data" class="form-register">
        <form method="post" class="form-register">
        {% csrf_token %}
        {% crispy form %}
    </form>
    </form>
</div>
{% endblock %}
