{% extends 'main/superbase.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{#название страницы#}
{#стандартная#}
{% block title %}
    Характеристики ИО
{% endblock %}
{#конец названия страницы#}

{% block content %}
<div class="col-12">  
{#заголовок#}
    <a href="{% url 'testingequipmentcharacterslist' %}">
    <div style="text-align: center;"><h4> {{ title }}</h4></div>
    </a>
    <br>
{#конец заголовка #}

    <br>
    <div style="text-align: center;">
        <a href="{% url 'testingequipmentcharactersreg' %}"  target="blank" class="btn btn-info" style="width: 350px">
            Добавить характеристики, тип
        </a>
    </div>
    <br>
        <p><i><font color="red"><b>Перед регистрацией проверьте, что отсутствуют необходимые характеристики в сочетании с типом и модификацией.
            Вашу запись вы можете редактировать, 
            если необходимо внести изменения в чужую запись, пожалуйста обратитесь к администрации сайта: sandra.005@mail.ru или через форму обратной связи.
       </b></font> </i></p>
    
{#форма для поиска по полям #}
    <br><br>
    <div style="text-align: center; margin-top: 25px">
        <form action="/equipment/reestrsearres/" method="GET">
            {% csrf_token %}
            {% crispy form %}
        </form>
    </div>
{#конец формы для поиска#}

{#основная таблица#}
<div style="text-align: center; margin-top: 25px">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Название</th>
                <th> Модификация </th>
                <th> Тип </th>
                <th> Межатт. <br> интервал, <br>мес. </th>
                <th> Диапазон измерений </th>
                <th> Ред </th>
                <th> Описание ТО по технической документации </th>
             </tr>
        </thead>
        <tbody>
        {% for obj in objects %}
        <tr>
            <td>{{ obj.name }}</td>
            <td>{{ obj.modificname }}</td>
            <td>{{ obj.typename }}</td>
            <td> {{ obj.calinterval }}</td>
            <td> {{ obj.measurydiapason }}</td>
            {% if POINTER == obj.pointer %}
            <td> <a href="{% url 'testequipmentcharactersupdate' obj.pk %}"  class="btn btn-outline-info mt-3">ред</a></td> 
            {% else %}
            <td> ред. админ.</td>
            
            {% endif %}
            {% if obj.serviceequipmentte and POINTER == obj.pointer %}
              <td> <a href="{% url 'toregte' obj.pk %}" target="blank" class="btn btn-outline-primary mt-3">редактировать</a></td>  
            {% elif obj.serviceequipmentte and POINTER != obj.pointer %}
            <td> есть</td> 
            {% else %}
            <td> <a href="{% url 'toregte' obj.pk %}" target="blank" class="btn btn-outline-primary mt-3">добавить</a></td>
            {% endif %}
            
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{#конец основной таблицы#}

{#пагинация#}
{# стандартная #}
{% if is_paginated %}
    {% if page_obj.has_previous %}
       <a href="?page=1" class="btn btn-outline-primary">Начало</a>
       <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-outline-primary">Предыдущая</a>
  {% endif %}
    {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}" class="btn btn-outline-primary">Следующая</a>
       <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-outline-primary">Последняя</a>
  {% endif %}
  {% endif %}
{#конец пагинации#}
</div>
{% endblock %}
{#конец блока {% block content %}"""#}
