{% extends 'main/base.html' %}

{% block title %}
   Тест
{% endblock %}


{% block content %}
<div class="col-8">
  
<!-- тестовый код тут -->

<center>Заголовок</center>
   <br>
   
<center>
<form action="{% url 'remove_members' %}" method="post">
    {% for item in list %}
        <input type="checkbox" value="{{item.id}}" name="my_object">
        {{ item.id }}
   <br>
    {% endfor %}
    <button type="submit" name="delete">Delete</button>
    <button type="submit" name="mark_read">Mark read</button>
</form>
</center>
---------------------------------------------------------



  
<!--   конец тестового кода -->
  
</div>
{% endblock %}
