{% extends 'main/base.html' %}

{% block title %}
   Тест
{% endblock %}


{% block content %}
<div class="col-8">
  
<!-- тестовый код тут -->

<center><h5></h>Сформировать заявку на поверку/аттестацию и отметить в базе данных что прибор в поверке/аттестации</h5></center>
   <br>
   
<center>
<form action="{% url 'remove_members' %}" method="post">
   {% csrf_token %}
   <table class="table table-bordered">
    {% for item in list %}
       <tr> <input type="checkbox" value="{{item.id}}" name="my_object">
        <td>{{ item.equipment.exnumber }}</td>
          <td>{{ item.newhaveorder }}</td>
       </tr>

    {% endfor %}
      </table>
    <button type="submit" name="delete">Сформировать заявку</button>
   
</form>
</center>
---------------------------------------------------------



  
<!--   конец тестового кода -->
  
</div>
{% endblock %}
