{% extends 'main/base.html' %}

{% block title %}
   Тест
{% endblock %}


{% block content %}
<div class="col-8">
  
<!-- тестовый код тут -->

<center><h5></h>Сформировать заявку на поверку/аттестацию и отметить в базе данных что прибор в поверке/аттестации</h5></center>
   <br>
   
<center>
<form action="{% url 'orderverificationchange' %}" method="post">
   {% csrf_token %}
   <table class="table table-bordered">
             <tr>
          <th> выберите</th>
        <th>Внутренний номер</th>
          <th>Поверка</th>
       </tr>
    {% for item in list %}
       <tr>
          <td> <input type="checkbox" value="{{item.id}}" name="my_object"></td>
        <td>{{ item.equipment.exnumber|slice:':5' }}</td>
          <td>{{ item.newhaveorder|yesno:"Заказана,Не заказана" }}</td>
       </tr>

    {% endfor %}
      </table>
    <button type="submit" name="delete">Сформировать заявку</button>
   
</form>
</center>




  
<!--   конец тестового кода -->
  
</div>
{% endblock %}
