{% extends 'main/base.html' %}

{% block title %}
ТО
{% endblock %}


{% block content %}
<div class="col-8">
      {% if obj.charakters.measurequipment_set %}
      <center><h5>Описание ТО для {{ obj.charakters.measurequipment_set.last.equipment.kategory}}  {{ obj.charakters.name }}  {{ obj.charakters.modificname }}  {{ obj.charakters.typename }}</h5></center>
      {% elif obj.charakters.testingequipment_set %}
      fff
      {% endif %}
      
  

<div style="text-align: center; margin-top: 25px">
    <table class="table table-bordered flexy">
            <tr><th>ТО-0</th><td>ежедневное</td><td>{{ obj.descriptiont0 }}</td></tr>
            <tr><th>ТО-1</th><td>ежемесячное</td><td>{{ obj.descriptiont1 }}</td></tr>
            <tr><th>ТО-2</th><td>ежеквартальное</td><td>{{ obj.descriptiont2 }}</td></tr>
            <tr><th>ТО-3</th><td>по графику</td><td>для СИ/ИО - поверка/аттестация</td></tr> 
            <tr><th>Примечание </th><td>по документации к ТО</td><td>{{ obj.comment }}</td></tr>
    </table>
</div>

  
</div>
{% endblock %}
