{% extends 'main/base.html' %}
{% block title %}
    Договоры с поверителями
{% endblock %}

{% block content %}
  <div class="col-8">
      
     <center><h5>Договоры с поверителями компании {{ company.name }}</h5></center> 
     <br>
      
     {% if USER_HAVE_RIGHTS  %}    
          <center>
              <a href="{% url 'companyverreg' %}"  target="blank" class="btn btn-primary mt-1 mr-1 ml-1" style="width: 30%">
                  Добавить поверителя
              </a>

              <a href="{% url 'agreementcompanyverreg' %}"  target="blank" class="btn btn-primary mt-1 mr-1 ml-1" style="width: 30%">
                  Добавить договор с поверителем
              </a>

            <a href="{% url 'verificatorsreg' %}"  target="blank" class="btn btn-primary mt-1 mr-1 ml-1" style="width: 30%">
                  Список поверителей
              </a>
          </center>
          <br>
     {% endif %}
      
     <table class="table table-bordered flexy">
       
        <tr>
              <th>Название поверителя</th> <th>Номер договора</th><th>Дата договора</th><th>Номер карточки</th>
            {% if USER_HAVE_RIGHTS  %}
            <th>Ред.</th>
            {% endif %}
        </tr>
        {% for obj in objects %}
        <tr>              
            <td>{{ obj.verificator.companyName }}</td> 
            <td>{{ obj.ver_agreement_number  }}</td> 
            <td>{{ obj.ver_agreement_date }}</td> 
            <td>{{ obj.ver_agreement_card }}</td>
            {% if USER_HAVE_RIGHTS  %}  
            <td> <a href="{% url 'agreementcompanyverupdate' obj.pk %}"  class="btn btn-outline-primary mt-3">ред</a></td>   
            {% endif %}
        </tr>
        {% endfor %}

     </table>
<br>
</div>
{% endblock %}
