{% extends 'main/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Внести поверку/аттестацию
{% endblock %}

{% block content %}
    <div class="col-8">
    <br> 
    <center><h6><a href="/equipment/measureequipment/{{ title.exnumber|slice:":5" }}/">
        {{ title.exnumber }}, {{title.measurequipment_set.all.last.charakters}}, зав. № {{title.lot}}
     </a> </h6></center>
     <br>

    <center><h5> Внести сведения о поверке </h5></center>
        <center>
            <form method="post" enctype="multipart/form-data" class="form-register">
            <form method="post" class="form-register">
            {% csrf_token %}
            {% crispy form %}
            </form>
            </form>
        </center>
        <br>
      
    <div style="text-align: center; margin-top: 20px">
        <a href="{% url 'verificatorsreg' %}" class="btn btn-primary mr-2 mt-3" style="width: 210px" target="blank">
        Добавить организацию поверителя</a>
    </div>
        
 </div>
{% endblock %}
