{% extends 'main/superbasepersonal.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block title %}
{% endblock %}


{% block content %}
<div class="row">
    <div class="col-md-2">
        <div style="text-align: center;" class="td800">
            <form action="/bdanswers/searchresult/" method="GET">
                {% csrf_token %}
                {% crispy formSM %}
            </form>
        </div>
        <div style="text-align: center;">
            <table class="table table-bordered background-color">
                {% for note in objects %}
                <tr>
                    <td class="td600">
                        {{note.question}}
                    </td>
                    <td class="td600">
                        {{note.answer|safe}}
                    </td>
                </tr>
                	{% endfor %}
            </table>
        </div>
    </div>
</div>







{% endblock %}
