{% extends 'main/base.html' %}
{% block title %}
    Данные компании
{% endblock %}

{% block content %}
 <div class="col-8">
     <h5>Данные компании {{ company.name }}</h5> 
     <table class="table table-bordered">
       <tr><th>Идентификатор</th><td>{{ company.userid }}</td></tr>
       <tr><th>Название</th><td>{{ company.name }}</d></tr>
       <tr><th>Реквизиты</th><td>{{ company.requisits }}</td></tr>
       <tr><th>Адрес юридический</th><td>{{ company.adress }}</td></tr>
       <tr><th>Адрес физический</th><td>{{ company.adress_lab }}</td></tr>
       <tr><th>Телефон лаборатории</th><td>{{ company.phone }}</td></tr>
       <tr><th>Телефон</th><td>{{ company.phone_lab }}</td></tr>
       <tr><th>Должность главного лица компании</th><td>{{ company.direktor_position  }}</td></tr>
       <tr><th>ФИО главного лица компании</th><td>{{ company.direktor_position  }}</td></tr>
       <tr><th>Должность главного лица компании</th><td>{{ company.direktor_name  }}</td></tr>
       <tr><th>Должность главного лица лаборатории</th><td>{{ company.headlab_position  }}</td></tr>
       <tr><th>ФИО главного лица лаборатории</th><td>{{ company.headlab_name  }}</td></tr>
       <tr><th>email</th><td>{{ company.email  }}</td></tr>
       <tr><th>Данные аттестата аккредитации</th><td>{{ company.attestat|default:" "}}</td></tr>
     </table>

         


<!--       Кнопки                                                                                              -->

            {% if USER  %}    
             <br>

                <center>
                    <a href="{% url 'profileupdate' %}" class="btn btn-primary mr-2 ml-2 mt-2 style="width:30%"> Смотреть и менять профиль организации </a>
                    <a href="{% url 'profileupdate' %}" class="btn btn-primary mr-2 ml-2 mt-2 style="width:30%"> Смотреть и менять список сотрудников </a>
                </center>
            {% endif %}
</div>
{% endblock %}
