{% extends 'main/base.html' %}
{% block title %}
    Кабинет пользователя
{% endblock %}

{% block content %}
 <div class="col-8">
    <h1>Кабинет пользователя</h1>
    <div class="media text-muted pt-3">
        <img class="bd-placeholder-img mr-2 rounded" width=30% height=30% src="{{ user.profile.img.url }}">
        <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <strong class="d-block text-gray-dark"><b>ID организации:  </b> {{ user.profile.userid }}</strong>
            <strong class="d-block text-gray-dark"><b>Название организации:  </b> {{ user.userid }}</strong>
            <strong class="d-block text-gray-dark"><b> ______________ </b> </strong>
            <br>
            <strong class="d-block text-gray-dark"><h6>Данные учетной записи</h6></strong>
            <strong class="d-block text-gray-dark"><b>Логин:  </b> {{ user.username }}</strong>
            <strong class="d-block text-gray-dark"><b>Имя:  </b> {{ user.profile.name }}</strong>
            {% if user.profile.position  %}
            <strong class="d-block text-gray-dark"><b>Должность:  </b> {{ user.profile.position }}</strong>
            {% endif %}
            
            

            

<!--             
        <strong class="d-block text-gray-dark">{{ user.username }}</strong>
        {% if user.email %}
        <b>Email: </b> {{ user.email }}   
            {% endif %} -->
            
    </div>
     


    <center>
        <a href="{% url 'profileupdate' %}" class="btn btn-primary mr-2 ml-2 mt-2 style="width:30%"> обновить профиль </a>
    </center>


 </div>
{% endblock %}
