{% extends 'main/base.html' %}
{% block title %}
    Кабинет пользователя
{% endblock %}

{% block content %}
 <div class="col-8">
    <h2>Кабинет пользователя</h2>
    <div class="media text-muted pt-3">
        <img class="bd-placeholder-img mr-2 rounded" width=30% height=30% src="{{ user.profile.img.url }}">
        <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <strong class="d-block text-gray-dark"><b>ID организации:  </b> {{ user.profile.userid }}</strong>
            <strong class="d-block text-gray-dark"><b>Название организации:  </b> {{ company.name }}</strong>
            <strong class="d-block text-gray-dark"><b> ______________ </b> </strong>
            <br>
            <strong class="d-block text-gray-dark"><b>Данные учетной записи</b></strong>
            <br>
            <strong class="d-block text-gray-dark"><b>Логин:  </b> {{ user.username }}</strong>
            <strong class="d-block text-gray-dark"><b>ФИО:  </b> {{ user.profile.name }}</strong>
            {% if user.profile.position  %}
            <strong class="d-block text-gray-dark"><b>Должность:  </b> {{ user.profile.userposition }}</strong>
            {% endif %} 
            <strong class="d-block text-gray-dark"><b>Права пользователя:  </b> {{ user_group }}</strong>
    </div>

<!--       Кнопки                                                                                              -->

            {% if not USER  %}    
             <br>

                <center>
                    <a href="{% url 'companyprofile' %}" class="btn btn-primary mr-2 ml-2 mt-2 style="width:25%"> Профиль организации </a>
                    <a href="{% url 'employees' %}" class="btn btn-primary mr-2 ml-2 mt-2 style="width: 25%"> Сотрудники </a>

                    <a href="{% url 'rooms' %}" class="btn btn-primary mr-2 ml-2 mt-2 style="width:25%"> Помещения </a>
                    <a href="{% url 'agreementcompanylist' %}" class="btn btn-primary mr-2 ml-2 mt-2 style="width:25%"> Договоры с поверителями </a>
                </center>
            {% endif %}
</div>
{% endblock %}
