{% extends 'main/base.html' %}

{% block title %}
{{ title }}
{% endblock %}


{% block content %}
<div class="col-8">
  
      <center>
 <a href="{% url 'employees' %}" > <h4>Редактирование профиля сотрудника</h4> </a>    
      </center>
  
      <center><h4>{{ dop.exnumber |slice:":5"}}</h4>
        
      <br>
      <form method="post" enctype="multipart/form-data" class="form-register">
          {% csrf_token %}
          {{ form.as_p }}
          {{ form1.as_p }}
          <button class="btn btn-outline-warning" type="submit">Записать</button>
      </form>
      <br>
      </center>

  {% if USER_HAVE_RIGHTS %}
  <center>
    <form action="{% url 'groupchange' e.pk %}" method="post">
       {% csrf_token %}
     <button type="submit" name="{{a}}"  class="btn btn-primary mr-1 ml-1 mt-2"> назначить в {{e1}} </button>
    </form>
  
      
     <a href="{% url 'useractivity' %}"  class="btn btn-primary mr-1 ml-1 mt-2"> {{activity}} </a>
    </form>
    
</center> 
  <br><br>
  {% endif %}
  
</div>
{% endblock %}
