{% extends 'main/base.html' %}

{% block title %}
{{ title }}
{% endblock %}


{% block content %}
<div class="col-8">
  
     
   {% if user.is_authenticated %}
        {% if e.pk %}
 <center> <a href="{% url 'employees' %}" > <h4>Редактирование профиля сотрудника</h4> </a>     </center>
          
          <br>    
        {% else %}
    <center>      <a href="{% url 'employees' %}" > <h4>Создание профиля сотрудника</h4> </a>   </center>
   <br>
   <center> Пароль будет сгенерирован автоматически и выслан на указанный в форме email</center>
        <br>
  {% endif %}
{% elif not user.is_authenticated %}
      <center>      <a href="{% url 'employees' %}" > <h4>Создание профиля нового пользователя и профиля его организации </h4> </a>   </center>
   <br>
   <center> Пароль будет сгенерирован автоматически и выслан на указанный в форме email</center>
   <br>
     <center> Если Ваша организация уже была зарегистрирована, то обратитесь к руководителю/менеджеру/продвинутому пользователю для создания учетной записи </center>
        <br>
        {% endif %}

  
      <center><h4>{{ dop.exnumber |slice:":5"}}</h4>
        
      <br>
      <form method="post" enctype="multipart/form-data" class="form-register">
          {% csrf_token %}
          {{ form.as_p }}
          {{ form1.as_p }}
          <button class="btn btn-outline-warning" type="submit">Записать</button>
      </form>
      <br>
      </center>

  {% if USER_HAVE_RIGHTS %}
  {% if e.pk %}
  <center>
    <form action="{% url 'groupchange' e.pk %}" method="post">
       {% csrf_token %}
     <button type="submit" name="{{a}}"  class="btn btn-primary mr-1 ml-1 mt-2"> назначить в {{e1}} </button>
    </form>
    
      <form action="{% url 'useractivity' e.pk %}" method="post">
       {% csrf_token %}
     <button type="submit" name="{{activity}}"  class="btn btn-primary mr-1 ml-1 mt-2"> {{activity}} </button>
    </form>
       
</center> 
  <br><br>
  {% endif %}
  {% endif %}
</div>
{% endblock %}
