{% extends 'main/base.html' %}
{% load static %}
{% block title %}
ЖАЗ
{% endblock %}


{% block content %}
    <div style="text-align: center;"><h4>Журналы результатов измерений</h4></div>
<br>
<table class="table table-bordered">
<thead>
    <tr>
      <th style="text-align: center; width: 120px">  Наименование </th>
      <th style="text-align: center; width: 88px">  Для проб  </th>
      <th style="text-align: center; width: 90px"> <div style="text-align: center; ">Открыть</div></th>
    </tr>
  </thead>
  <tbody>
{% for obj in objects %}
    <tr>
      <td>{{ obj.name }}</td>
      <td> {{ obj.CM }}</td>
      <td><a href="CertifiedValueJ/{{obj.for_url}}"  class="btn btn-outline-warning mt-3" style="width: 88px">открыть журнал</a></td>
    </tr>
{% endfor %}
</tbody>
</table>
    &nbsp;<div style="text-align: center;">
<a href="{% url 'contact_page' %}" class="btn btn-warning  mt-1 " style="width: 300px">Задать вопрос администрации сайта</a>
</div><br>
{% endblock %}
