{% extends 'main/base.html' %}
{% load static %}
{% block title %}
    Контакты для вопросов и заказа электронного лабораторного журнала
{% endblock %}
{% block keywords %}
    <meta name="keywords" lang="ru" content="ЛИС, ЛИМС, лабораторная информационная система,
    электронный лабораторный журнал, электронная записаная книжка,
    поверка приборов, поверка средств измерений, аттестация испытательного борудования, журнал микроклимата в лаборатории,
журнал метеорологических условий, график техобслуживания, вспомогательное оборудование, карточки на приборы, контакты
для заказа электронного лабораторного журнала">
{% endblock %}
{% block description %}
<meta name="description" content="Контакты сайта для химических лабораторий. Сайт позволяет вести учет оборудования в
лаборатории, автоматизирует
поверку средств измерений, аттестацию испытательного оборудования, выгрузку форм документов на оборудование,
лабораторный журнал микроклимата. На сайте представлен электронный журнал
 - иначе - электронная записаня книжка для лабораторий - призванный заменить бумажные лабораторные журналы">
{% endblock %}

{% block content %}
    <div class="col-8">
        <center>
            <h1>Контакты сайта для лабораторий</h1>
            <table class="table table-bordered">
                <td colspan="6"> 
                    <h3><span style="font-size: 16px;"><strong>По всем вопросам пишите в мессенджеры или звоните администрации сайта:</strong></span></h3>
                    <span style="font-size:20px;"><strong>89500484071<br />
                    sandra.005@mail.ru</strong></span><br />          
                    <center>
                        <a href="{% url 'contact_page' %}" class="btn btn-warning  mt-3" style="width: 250px">Задать вопрос администрации сайта</a>
                    </center>
                </td>
            </table>       
        </center>
    </div>
{% endblock %}
