{% extends 'main/superbase.html' %}
{% load static %}
{% block title %}
    Инфраструктура лаборатории
{% endblock %}


{% block content %}
<div class="col-12">
    <center><h3>Инфраструктура лаборатории</h3></center>
    <br>
    <center><h5>Лабораторное оборудование</h5></center>
    <center>
        <a href="{% url 'measureequipmentall' %}" class="btn btn-primary mr-2 ml-2 mt-2" style="width: 150px"> Средства <br>измерения </a>
        <a href="{% url 'testingequipmentall' %}" class="btn btn-primary mr-2 ml-2 mt-2" style="width: 150px"> Испытательное <br>оборудование </a>
        <a href="{% url 'helpingequipmentall' %}" class="btn btn-primary  mr-2 ml-2 mt-2" style="width: 150px">Вспомогательное <br>оборудование </a>
    </center>
    <br>
    <center><h5>Помещения</h5></center>
    <center><a href="{% url 'rooms' %}" class="btn btn-primary mr-2 ml-2 mt-2" >Смотреть помещения</a></center>
     <br>
    <center><h5>Микроклимат в помещениях</h5></center>
    <center><a href="{% url 'meteo' %}" class="btn btn-primary mr-2 ml-2 mt-2" >Смотреть и добавить условия окружающей среды</a></center>


    <center><img width=50% src="{% static 'main/img/10.jpg' %}" class="mr-2 ml-2 mt-3" ></center>
    <div class="col-8">
{% endblock %}
