{% extends 'main/base.html' %}
{% load static %}
{% block title %}
    Оборудование
{% endblock %}


{% block content %}
    <div style="text-align: center;"><h3>Лабораторное оборудование</h3></div>
    <br><br>
    <div style="text-align: center;"><h5>Списки оборудования</h5></div>
    <div style="text-align: center;">
        <a href="{% url 'measureequipmentall' %}" class="btn btn-warning mr-5 mt-3" style="width: 150px">
            Средства <br>измерения
        </a>
        <a href="{% url 'testingequipmentall' %}" class="btn btn-warning mr-5 mt-3" style="width: 150px">
            Испытательное <br>оборудование
        </a>
        <a href="{% url 'testingequipmentall' %}" class="btn btn-warning  mt-3" style="width: 150px">
            Вспомогательное <br>оборудование
        </a>
    </div>
    <div style="text-align: center;">
        <br>
        <a href="{% url 'vt' %}" class="btn btn-warning mt-3" >Вискозиметры</a>
    </div>
    <br>
    <br>
    <div style="text-align: center;"><h5>Микроклимат</h5></div>
    <div style="text-align: center;">
        <a href="{% url 'meteo' %}" class="btn btn-warning mt-3" >Смотреть и добавить условия окружающей среды</a>
    </div>
    <br><br>
    <div style="text-align: center;"><h5>Для ответственных за метрологическое обеспечение и закупку ЛО</h5></div>
    <div style="text-align: center;">
        <a href="{% url 'equipmentreg' %}" class="btn btn-info mt-3" style="width: 250px">Добавить новое ЛО</a>
    </div>
    <br>
    <div style="text-align: center;"><h6>Смотреть текущие и добавить новые:</h6></div>
    <div style="text-align: center;">
        <a href="{% url 'equipmentreg' %}" class="btn btn-info mr-5 mt-3" style="width: 150px">Госреестр</a>
        <a href="{% url 'equipmentreg' %}" class="btn btn-info mr-5 mt-3" style="width: 150px">Описание ИО</a>
        <a href="{% url 'equipmentreg' %}" class="btn btn-info  mt-3" style="width: 150px">Описание ВО</a>
    </div>
    <br>
    <div style="text-align: center;"><h6>Этикетки о поверке/аттестации и списки на поверку/аттестацию</h6></div>
    <div style="text-align: center;">
        <a href="{% url 'metro' %}" class="btn btn-info mt-3" >Метрологическое обеспечение ЛО</a>
    </div>
    <br>
    <div style="text-align: center;"><h6>Графики, планы, годовые отчеты</h6></div>
    <div style="text-align: center;">
        <a href="{% url 'reports' %}" class="btn btn-info mt-3" >Графики, планы, отчеты</a>
    </div>
    <br><br>
    <div style="text-align: center;">
    <img src="{% static 'main/img/10.jpg' %}"
    alt="Изображение на главной странице"></div>
{% endblock %}
