{% extends 'main/base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block title %}
    Внести запись
{% endblock %}


{% block content %}
    {#кнопки#}
    {#нестандартная#}
    <a href="/attestationJ/{{ URL }}/" class="btn btn-warning mt-3 mr-3">перейти в журнал</a>
    <a href="{% url 'picnometer' %}" class="btn btn-warning mt-3 mr-3" target="blank">объём пикнометра</a>
    <a href="/CertifiedValueJ/kinematicviscosityvalues/"
    class="btn btn-warning mt-3 mr-3" target="blank">журнал результатов</a>
    {#конец кнопок#}

    {#форма регистрации#}
    {#стандартная#}
    {% if USER %}
    <form method="post" class="form-register">
        {% csrf_token %}
        {% crispy form %}
    </form>
    {% elif not USER %}
        <div style="text-align: center; margin-top: 50px">
    <h5>У текущего пользователя нет прав на внесение записей. Для получения прав обратитесь
        к вашему руководителю или администрации сайта. </h5>
        </div>
    {% endif %}
{% endblock %}