{% extends 'main/superbase.html' %}

{% block title %}
    {{ NAME }}
{% endblock %}

{#кнопки слева странички#}
{% block content %}
    <div class="row">
        <div class="col-md-2">
        {#кнопка печать #}
        <div class="noprint">
            <a href="/attestationJ/{{ URL }}/registration/" class="btn btn-warning mt-3 mr-5">&nbsp&nbspвнести&nbsp&nbsp&nbsp ещё </a>
            <a href='/attestationJ/{{ URL }}/' class="btn btn-warning mt-3">В  журнал</a>
            <a href='/attestationJ/{{ URL }}/attestation/' class="btn btn-warning mt-3">Все записи</a>
        </div>
    </div>

{#уникальная таблица#}
{#полустандартный верх таблицы#}
    <div class="col-md-4 mt-1" >
        <table class="table table-bordered background-color">
	    <tbody>
            <tr>
                <th colspan="9">
                    <div style="text-align: center;">
                        Журнал измерения плотности и расчёта динамической вязк._{{ note.date|date:"Y"}}
                        № записи: {{ note.id}}
                    </div>
                </th>
		    </tr>
            <tr>
                <th colspan="9">
                    НД: {{ note.ndocument }}, метод: {{ note.equipment }}
                </th>
            </tr>
            <tr>
                <th colspan="1">Дата</th>
                <th colspan="3">Наименование</th>
                <th colspan="2">Номер&nbsp&nbspпартии</th>
                <th colspan="2">Шифр&nbsp&nbsp&nbsp&nbspпробы</th>
                <th colspan="1">Т&nbsp&nbsp°C</th>
            </tr>
            <tr>
                <td colspan="1">{{ note.date|date:"d.m.Y" }}</td>
                <td colspan="3">{{ note.name}}</td>
                <td colspan="2">{{ note.lot}}</td>
                <td colspan="2">{{ note.cipher}}</td>
                <td colspan="1">{{ note.temperature}}</td>
            </tr>
{# конец полустандартного верха таблицы#}
{# совсем уникальная часть таблицы#}
		<tr>
			<th colspan="9"><div style="text-align: center;">Измерение плотности</div></th>
		</tr>

		<tr>
			<th colspan="1"><div style="text-align: center;">V(пикн.), мл</div></th>
            <td colspan="3"><div style="text-align: center;">{{ note.piknometer_volume|default_if_none:" "|striptags }}</div></td>
			<th colspan="3"><div style="text-align: center;">Измерение&nbsp1</div></th>
			<th colspan="3"><div style="text-align: center;">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspИзмерение&nbsp2&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</div></th>
		</tr>

		<tr>
			<th colspan="4"><div style="text-align: center;">m(пикн.), г</div></th>
			<td colspan="3"><div style="text-align: center;">{{ note.piknometer_mass1|default_if_none:" "|striptags }}</div></td>
            <td colspan="2"><div style="text-align: center;">{{ note.piknometer_mass2|default_if_none:" "|striptags }}</div></td>
		</tr>
		<tr>
			<th colspan="4"><div style="text-align: center;">m(проба + пикн.), г</div></th>
			<td colspan="3"><div style="text-align: center;">{{ note.piknometer_plus_SM_mass1|default_if_none:" "|striptags }}</div></td>
			<td colspan="2"><div style="text-align: center;">{{ note.piknometer_plus_SM_mass2|default_if_none:" "|striptags }}</div></td>

		</tr>
		<tr>
			<th colspan="4"><div style="text-align: center;"> m(проба), г</div></th>
			<td colspan="3"><div style="text-align: center;">{{ note.SM_mass1|default_if_none:" "|striptags }}</div></td>
			<td colspan="2"><div style="text-align: center;">{{ note.SM_mass2|default_if_none:" "|striptags }}</div></td>
		</tr>
		<tr>
			<th colspan="4"><div style="text-align: center;">ρ<sub>1</sub>, г/мл</div></th>
			<td colspan="5"><div style="text-align: center;">{{ note.density1|default_if_none:" "|striptags }}</div></td>
		</tr>
        <tr>
			<th colspan="4"><div style="text-align: center;">ρ<sub>2</sub>, г/м</div></th>
			<td colspan="5"><div style="text-align: center;">{{ note.density2|default_if_none:" "|striptags }}</div></td>
		</tr>
        <tr>
			<th colspan="4"><div style="text-align: center;">плотность  измерил</div></th>
			<td colspan="5"><div style="text-align: center;">{{ note.performerdensity|default_if_none:" "|striptags }}</div></td>
		</tr>
		<tr>
			<th colspan="9"><div style="text-align: center;">Обработка результатов измерения плотности</div></th>
		</tr>
		<tr>
			<th colspan="2">Сред. плотн., ρ, г/мл</th>
			<th colspan="5">Оценка приемлемости <br>
                Δ = |ρ<sub>1</sub> - ρ<sub>2</sub>|, мг/л</th>
			<th colspan="2"><div style="text-align: center;">Критерий приемлемости, r,  г/мл</div></th>
		</tr>
		<tr>
			<td colspan="2"><div style="text-align: center;">{{ note.density_avg|default_if_none:" "|striptags }}</div></td>
			<td colspan="5"><div style="text-align: center;">{{ note.accMeasurement|default_if_none:" "|striptags }}</div></td>
			<td colspan="2"><div style="text-align: center;">{{ note.kriteriy|default_if_none:" "|striptags}}</div></td>
		</tr>
{# блок оценки результатов #}
		<tr>
			<tr>
			<td colspan="9">
                {% if note.resultMeas == 'неудовлетворительно' %}
                <div class="TransactionAmount Badresult">
                {% else %}
                <div class="TransactionAmount Goodresult">
                {% endif %}
                 Результат измерений: <b>{{ note.resultMeas }} </b> {{ note.cause }}
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                </div>
            </td>
		    </tr>
        <tr>
{# конец блока оценки результатов #}
			<th colspan="9"><div style="text-align: center;">Расчёт динамической вязкости</div></th>
		</tr>
		<tr>
            <th colspan="2"><div style="text-align: center;">Предыдущее значение плотности, ρ<sub>пред</sub>, г/мл</div></th>
			<th colspan="5">Разница с ρ<sub>пред  </sub> <br>
                Δρ<sub>пред</sub> =<br> (|ρ<sub>изм</sub> - ρ<sub>пред</sub>|/ρ<sub>сред</sub>) * 100 %</th></th>
			<th colspan="2"><div style="text-align: center;">Вязкость кинематическая при температуре измерений, ν,  мм<sup>2</sup>/с&nbsp&nbsp</div></th>
		</tr>
		<tr>
            <td colspan="2">{{ note.olddensity|default_if_none:" "|striptags}}</td>
            <td colspan="5">{{ note.deltaolddensity|default_if_none:" "|striptags}}</td>
            <td colspan="2">
                {% if note.kinematicviscosity|striptags %}
                    {{ note.kinematicviscosity|default_if_none:" "|striptags }}
                {% endif %}
            </td>
		</tr>
        <tr>
			<th colspan="9"><div style="text-align: center;">Фиксация результатов</div></th>
		</tr>
		<tr>
			<th colspan="4">Динамическая <br> вязкость, Па * с</th>
			<th colspan="5">Состав пробы</th>
		</tr>
		<tr>
			<td colspan="4">{{ note.result|default_if_none:" "|striptags }}</td>
			<td colspan="5">{{ note.get_constit_display }}</td>
		</tr>
        <tr>
        <td colspan="9">
                <div class="TransactionAmount Badresult">
                    <b>{{ note.resultWarning|default_if_none:" " }}</b>
                    <b>{{ note.resultWarningkinematic|default_if_none:" " }}</b>
                </div>
            </td>
		</tr>
{#конец уникальной части таблицы #}

{# полустандартный низ таблицы с формой фиксации результатов и кнопкой "комментарии" #}
            <tr>
                <th colspan="2">Исполнитель </th>
                <th colspan="4">внесено</th>
                <th colspan="3">комментарии</th>
            </tr>
            <tr>
                <td colspan="2">{{ note.performer }} </td>
                <td colspan="4">
                    {% if note.result  and not note.fixation %}
                        <form method="post" >
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button class="btn btn-outline-warning" type="submit">Подтвердить</button>
                        </form>
                    {% elif note.result and  note.fixation %}
                        <a href="/CertifiedValueJ/kinematicviscosityvalues/" target="blank">  в журнал результатов </a>
                    {% else %}
                        неудовлетворительный результат
                    {% endif %}
                </td>
                <td colspan="3">
                    {% if not counter %}
                        <a href="/attestationJ/{{ URL }}/attestation/{{ note.id }}/comments/"  class="btn btn-outline-warning mt-3">комментировать</a>
                    {% elif counter %}
                        <a href="/attestationJ/{{ URL }}/attestation/{{ note.id }}/comments/"  class="btn btn-outline-warning mt-3">смотреть </a>
                    {% endif %}
                </td>
            </tr>
{# конец низа #}
	        </tbody>
        </table>
    </div>
{#конец  таблицы#}
    </div>

{#кнопка печать #}
    <div class="noprint">

        <a href="{% url 'export_dinamicviscosity_xls' note.pk %}"  class="btn btn-warning ml-5 mt-1">Распечатать</a>
            {% if note.room %}
        <a href="{% url 'dinamicviscosityprotocolbutton' note.pk %}"  class="btn btn-warning ml-5 mt-1">
            Сформировать протокол испытаний</a>
            {% else %}
        <a href="{% url 'dinamicviscosityprotocolroom' note.pk %}"  class="btn btn-warning ml-5 mt-1">
            Сформировать протокол испытаний</a>
            {% endif %}
        <br>
        <br>
    </div>
{% endblock %}
